*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("thomas-turnbull.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-color: #2a3036;
	min-height: 100vh;
	margin: 0;
	font-family: 'News Cycle', sans-serif;
}

#header {
	display: none;
}

#content {
	color: #fff;
	margin-left: 3em;
	margin-top: 3em;
}

h1 {
	font-size: 3em;
	margin-bottom: 0;
}

h2 {
	font-size: 1.8em;
}

h1, h2 {
	text-shadow: 2px 2px #2a293e;
}

#social {
	margin-top: 1em;
}

#social a {
	color: #fff;
	margin-right: 10px;
	text-decoration: none;
}

svg {
	fill: currentColor;
}

@media all and (max-width: 700px) {
	body {
		background: none;
	}

	#header {
		display: block;
	}

	#header img {
		width: 100%;
	}

	#content {
		color: #000;
		text-align: center;
		margin: 1em auto;
	}

	h1, h2 {
		text-shadow: none;
	}

	#social a {
		color: #000;
		margin-right: 10px;
		text-decoration: none;
	}
}
